<div class="main">
    <div class="grid-container" >
        <mat-grid-list [cols]="width.valid ? width.value: 5" rowHeight='4:3'>
            <mat-grid-tile *ngFor="let cell of cells"
                           [ngClass]="cell.active ? 'active': ''">


                <mat-card *ngIf="cell.active">
                    <div class="center">
                        <span class="material-icons big-font"
                              *ngIf="active.direction==direction.NORTH">arrow_upward</span>
                        <span class="material-icons big-font"
                              *ngIf="active.direction==direction.SOUTH">arrow_downward</span>
                        <span class="material-icons big-font"
                              *ngIf="active.direction==direction.EAST">arrow_forward</span>
                        <span class="material-icons big-font" *ngIf="active.direction==direction.WEST">arrow_back</span>
                    </div>
                </mat-card>

            </mat-grid-tile>


        </mat-grid-list>
    </div>
    <div class="container">
        <form class="example-form" [formGroup]="form">
            <mat-form-field class="example-full-width">
                <mat-label>Width</mat-label>
                <input matInput name="width" placeholder="Width" formControlName="width">
                <mat-error *ngIf="width.hasError('required') ">
                    Field is required
                </mat-error>
                <mat-error *ngIf="width.hasError('pattern') ">
                    Should be a number between 1 and 30
                </mat-error>
                <mat-error *ngIf="width.hasError('min') || width.hasError('max') ">
                    Should be a number between 1 and 30
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Height</mat-label>
                <input matInput name="height" placeholder="Height" formControlName="height">
                <mat-error *ngIf="height.hasError('required') ">
                    Field is required
                </mat-error>
                <mat-error *ngIf="height.hasError('pattern') ">
                    Should be a number between 1 and 30
                </mat-error>
                <mat-error *ngIf="height.hasError('min') || height.hasError('max') ">
                    Should be a number between 1 and 30
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>initial Position</mat-label>
                <input matInput name="initialPosition" placeholder="X,Y,ORIENTATION" formControlName="initialPosition">
                <mat-error *ngIf="initialPosition.hasError('pattern')  ">
                    Initial position should be formatted as : X,Y,Orientation
                </mat-error>
                <mat-error *ngIf="initialPosition.hasError('X_IS_OUT_OF_GRID')  ">
                    X is out of grid
                </mat-error>
                <mat-error *ngIf="initialPosition.hasError('Y_IS_OUT_OF_GRID')  ">
                    Y is out of grid
                </mat-error>

            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Sequence</mat-label>
                <input matInput name="sequence" placeholder="Sequence" formControlName="sequence">
                <mat-error *ngIf="sequence.hasError('pattern')  ">
                    allowed characters are only D A and G
                </mat-error>
            </mat-form-field>

            <button mat-button mat-stroked-button (click)="play()"
                    [disabled]="!form.valid">
                GO !!! <span class="material-icons">play_arrow</span>

            </button>


        </form>
    </div>
</div>
